
<html>
  <body>
    <form action="/interactable_templates" method="POST"  enctype="multipart/form-data">
        <input type="file" name="file" accept="image/png, image/jpeg"/>
        <select name="template_type">
          <option value="text">text</option>
          <option value="link">link</option>
          <option value="audio">audio</option>
          <option value="start">start</option>
        </select>
        <input type="submit"/>
    </form>
  </body>
</html>