<html>
  <head>
    <input type="hidden" id="authenticity_token" name="authenticity_token" value="<%= env['rack.session'][:csrf] %>" />
  </head>
  <body>
    <% if current_user %>
      <div style="background-color: lightgray;">
        <p>signed in as: <%= current_user.name %>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/signout">sign out</a></p> 
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
